.allProperties {
  /* display: flex;
  flex-direction: column;
  border-radius: 3rem; */
}
.allProps{
  /* display: ruby;
  margin-top: 5%; */
  margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    gap: 2rem;
    justify-content: center;
    border-radius: 2rem;
}
.favBtn {
  background-image: url("");
  width: 30%;
    height: 20%;
    margin-bottom: 3%;
    background-color: rgba(255, 0, 0, 0.473);
}
.propertyName{
  /* background-color: rgba(255, 228, 196, 0.705); */
}
.filterBody{
  position: absolute;
  margin-left: 34%;
  margin-top: 1%;
  background-color: rgba(127, 255, 212, 0.516);
}

img{
  border-radius: 2rem;
}
.cardWrapper{
  gap: 2rem;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.438);
  width: fit-content;
  border-radius: 2rem;
 }
 .cardsProps{
  aspect-ratio: 5/3;
  border: 0.25rem solid rgb(255 255 255 / 15%);
  overflow: hidden;
  border-radius: 1rem;
  filter: saturate(.3);
  transition: filter 0.5s;
 }
 .cardsProps > img {
  width: 300px;
  object-fit: cover;
 }