.delete {
  background-color: brown;
}
h1 {
   text-align: center;
   color: rgb(252, 252, 191);
}
.card {
  aspect-ratio: 5/3;
  border: 0.25rem solid rgb(255 255 255 / 15%);
  overflow: hidden;
  border-radius: 1rem;
  filter: saturate(.3);
  transition: filter 0.5s;
  
}
.card:has(img:hover){
  filter: saturate(1);
}
.card > img {
  width: 300px;
  object-fit: cover;
}
@keyframes pulse {
  from,
  to {
    scale: 1;
  }
  50% {
    scale: 1.08;
  }
}
.card:hover > img {
  animation: pulse;
}
.favProperty{
   margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    gap: 2rem;
    justify-content: center;
}
.favImg {
   transition: transform 0.3s;
 }
 
 .favImg.hovered {
   transform: scale(1.3);
 } 
 .cardWraper{
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.438);
  width: fit-content;
  border-radius: 1rem;
 }
 a{
  color: beige;
 }